@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Typo_Round_Regular"),
    url("./assets/fonts/Typo_Round_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bold";
  src: local("Typo_Round_Bold"),
    url("./assets/fonts/Typo_Round_Bold.otf") format("opentype");
}